<template id="page-teste">
	<div>
		[[message]]
	</div>
</template>

<script type="text/javascript">

	Vue.component('my-page-teste',{
		template: '#page-teste',
		props: {
		},
		delimiters: ['[[',']]'],
		data(){
			return {
				message:'Testando meu componente Vue'
			}
		},
		methods:{
			init(){
				console.log('Teste de Componentes via Raw do bitbucket')
			}
		},
		mounted(){
			this.init()
		},
		created(){
		},
		computed:{

		},
		watch:{
		}
	});
</script>